<h2>Users</h2>
<ul class="items">
    <li *ngFor="let user of users">
        <a [routerLink]="['/user', user.id]">{{ user.name }}</a>
    </li>
</ul>

<button routerLink="/notfound">Go to not found page</button>
